.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color:#FFE4D6;
}

h1 {
  margin: 30px;
  font-family: 'Indie Flower', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #B0578D;
}

p {
  font-size: 2rem;
  color:  #B0578D;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color:  #B0578D;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.btn {
  text-align: center;
  display: block;
  margin: 20px auto; /* Centers the button horizontally */
  padding: 10px 20px; /* Add padding to make the button look nicer */
  background-color: #B0578D; /* Background color */
  color: white; /* Text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Add border-radius for rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  font-size: 1.5rem; /* Font size */
  font-family: 'Indie Flower', cursive; /* Font family */
}

.btn:hover {
  background-color: #954473; /* Change background color on hover */
}